.header {
  width: 100%;
  height: max-content;
}

.containerImg {
  background-image: url('../../../public/img/saca.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 10px;
  padding: 30px;
}

.containerText {
  width: 380px;
}
