.cafeCard {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  max-width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cafeCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.imgContainer {
  width: 100%;
  height: 200px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardDestaque .imgContainer {
  height: 50px;
  width: 50px;

  border-radius: 50%;
}

.texto {
  padding: 20px;
}

.texto h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #4e342e;
}

.texto p {
  font-size: 0.95rem;
  color: #6d4c41;
}
